html, body{
    padding: 0;
    margin: 0;
    background-color:rgb(151, 161, 169); 
}

body {
    font-family:sans-serif;
}

.hero{
    background-color: blueviolet;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.hero:before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, blueviolet, rgb(227, 101, 255) )
}

.hero:after{
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, blueviolet, rgb(227, 101, 255) )
}

.hero h1{
    font-weight: normal;
    font-size: 3rem;
    margin: 0; 
}

.heroh2{
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav{
    display: flex;
    justify-content: center;
}

.filter-nav a{
    text-decoration: none;
    padding: 9px;
    color: blueviolet;
    border: 1px solid rgb(112, 85, 136);
    border-radius: 4px;
    margin: 4px;
    margin-bottom: 10px; 

}

.filter-nav a:hover{
    background-color: rgb(221, 128, 221);
}

.filter-nav .active{
    background-color: rgb(106, 20, 106);
    color: white;
}

.filter-nav .active:hover{
    background-color: rgb(138, 95, 138);
    cursor: default;
}

.animals{
    max-width: 700px;
    margin: 0 auto;
}



.animals-card{
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 100%;
    background-color: aliceblue;
    border-radius: 20px;
    overflow:hidden; 

}

.animals-card-photo{
    order: 1; 
    grid-row: 1; 
    overflow:hidden;
}

.animals-card-photo img{
    display: block;
    width:100%;
    height: 100%;
    object-fit:cover; 
    transition: transform .3s ease-in-out;
}

.animals-card:hover img{
    transform: rotate(20deg) scale(1.4);

}

.animals-card-text{ 
    padding: 20px 25px; 
}

.animals-card-text h3{
    margin:0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animals-card-text small {
    color: rgba(26, 35, 44, 0.572);
}

.animals-card-text p{
    margin: .8rem 0;
    padding: 0; 
    line-height: 1.5; 
}

.primary-btn{
    background: linear-gradient(rgb(173, 49, 140), rgb(113, 30, 132));
    padding: 10px;
    color: white; 
    border-radius: 5px; 
    text-decoration: none;
    display: inline-block;
}

.primary-btn:hover{
    background: linear-gradient(pink, rgb(168, 55, 74));
}

.only-large-screen{
    display:none;
}

@media screen and (min-width: 768px){
    .animals-card{
        grid-template-columns: 200px 1fr;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .only-large-screen{
        display: inline;
    }
}